:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  height: 35rem;
}

mat-form-field {
  width: 100%
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
